h1 {
  font-size: 20px;
  font-family: helvetica;
  color: rgb(141,66,135);
  text-align: center;
  background-color: rgb(218,188,215);
  border: 2px solid rgb(23,11,22);
}

p {
  font-size: 14px;
  font-family: helvetica;
  color: rgb(108,141,94);
  text-align: center;
  background-color: rgb(200,218,193);
  border: 1px solid rgb(23,11,22);
}
