h1 {
  font-size: 30px;
  font-family: serif;
  color: rgb(18,52,74);
  text-align: left;
  background-color: rgb(125,205,255);
  border: 4px solid rgb(45,63,75);
}

p {
  font-size: 24px;
  font-family: serif;
  color: rgb(74,43,0);
  text-align: left;
  background-color: rgb(218,127,0);
  border: 2px solid rgb(45,63,75);
}
